<div class="form">
  <%= form_for @property,  html: {multipart:true} do |f| %>
    <% if @property.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

        <ul>
        <% @property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= f.file_field :image, placeholder: "Image" %>
    </div>

    <div class="field">
      <%= f.text_field :title, placeholder: "Titulo de la vivienda" %>
    </div>
    <div class="field">
      <%= f.text_field :city, placeholder: "Ciudad" %>
    </div>
    <div class="field">
      <%= f.text_field :price, placeholder: "Precio" %>
    </div>
    <div class="field">
      <%= f.text_field :area, placeholder: "Area" %>
    </div>
    <div class="field">
      <%= f.text_field :location, placeholder: "Ubicacion" %>
    </div>
    <div class="field">
      <%= f.text_field :room, placeholder: "Divisiones" %>
    </div>
    <div class="field">
      <%= f.date_select :date %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
